:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.jump-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1rem;

  input {
    width: 226px;
    padding: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
    color: white;

    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .list {
    flex: 1;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.05);

    .os-viewport {
      height: 100%;
      width: 100%;
      overflow-anchor: none;
    }

    .os-scrollbar-handle {
      transition: background-color 0.2s ease-in-out;
    }
  }

  button {
    padding: 0.5rem 1rem;
    background: #16a085;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: #148e75a5;
    }
  }
}

.scroll-element {
  height: 80vh;
  width: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  contain: 'strict';
}
