<div class="header">
  <h2>Very Long List</h2>
  <div class="jump-container">
    <input
      #jumpInput
      type="number"
      (keyup.enter)="jumpToItem(jumpInput.valueAsNumber)"
      placeholder="Enter item number (1-1,000,000)"
      min="1"
      [max]="TOTAL_ITEMS"
    />
    <button (click)="jumpToItem(jumpInput.valueAsNumber)">Jump to item</button>
  </div>
</div>

<div
  #scrollElement
  class="list scroll-element"
  overlayScrollbars
  [options]="{
    scrollbars: {
      theme: 'os-theme-very-long-list',
      autoHide: 'leave',
      autoHideDelay: 100,
      clickScroll: true,
    },
    overflow: {
      x: 'hidden',
      y: 'scroll',
    },
  }"
>
  <div style="position: relative; width: 100%" [style.height.px]="virtualizer.getTotalSize()">
    <div
      style="position: absolute; top: 0; left: 0; width: 100%"
      [style.transform]="'translateY(' + (virtualizer.getVirtualItems()[0]?.start || 0) + 'px)'"
    >
      @for (virtualRow of virtualizer.getVirtualItems(); track virtualRow.index) {
        <div #virtualItem [attr.data-index]="virtualRow.index">
          <app-list-item [item]="allItems()[getGlobalIndex(virtualRow.index)]"></app-list-item>
        </div>
      }
    </div>
  </div>
</div>
