li {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;

  .item-id {
    font-weight: bold;
  }
}

li:hover {
  background: rgba(255, 255, 255, 0.1);
}
